04 LCT1114/LCT1114 ver.2/01_Конструкторская документация/02_Чертежи/~$МЦТР.00010577.00.020 СБ Модуль LCT 1114.SLDDRW
04 LCT1114/LCT1114 ver.2/01_Конструкторская документация/01_3D_Модели/МЦТР.00010577.00.020 СБ Модуль LCT 1114 ver.2.0.SLDASM
04 LCT1114/LCT1114 ver.2/01_Конструкторская документация/01_3D_Модели/~$МЦТР.00020100.12.000 Д Пружинный элемент R3 L1.SLDPRT
04 LCT1114/LCT1114 ver.2/01_Конструкторская документация/01_3D_Модели/~$МЦТР.00020100.11.000 Д Крышка корпуса EFG-45-LG-BS_SE.SLDPRT
04 LCT1114/LCT1114 ver.2/01_Конструкторская документация/01_3D_Модели/~$МЦТР.00020100.10.000 Д Корпус модуля EFG-SEFE_22.5_GEH_H.Select_00573498.SLDPRT
04 LCT1114/LCT1114 ver.2/01_Конструкторская документация/01_3D_Модели/~$МЦТР.00010592.00.003 Д Печатная плата модуля LCT.SLDPRT
04 LCT1114/LCT1114 ver.2/01_Конструкторская документация/01_3D_Модели/~$МЦТР.00010577.23.000 Д Панель модуля LCT нижняя Slave.SLDPRT
04 LCT1114/LCT1114 ver.2/01_Конструкторская документация/01_3D_Модели/~$МЦТР.00010577.22.000 Д Панель модуля LCT верхняя X2X.SLDPRT
04 LCT1114/LCT1114 ver.2/01_Конструкторская документация/01_3D_Модели/~$МЦТР.00010577.21.000 Д Панель модуля LCT передняя Front.SLDPRT
04 LCT1114/LCT1114 ver.2/01_Конструкторская документация/01_3D_Модели/~$МЦТР.00010577.20.000 СБ Корпус модуля LCT .SLDASM
04 LCT1114/LCT1114 ver.2/01_Конструкторская документация/01_3D_Модели/~$МЦТР.00010577.00.020 СБ Модуль LCT 1114 ver.2.0.SLDASM
04 LCT1114/LCT1114 ver.2/01_Конструкторская документация/01_3D_Модели/~$- Разъем печатной платы TVMSTB_2.5-5-ST-5.08.sldprt
04 LCT1114/LCT1114 ver.2/01_Конструкторская документация/01_3D_Модели/~$- Разъем печатной платы PXC_1851083_06_FK-MCP-1.5-6-ST-3.81.SLDPRT
04 LCT1114/LCT1114 ver.2/01_Конструкторская документация/01_3D_Модели/~$- Гайка шест. норм. (ГОСТ ISO 4032-М3) М3 DIN 934.SLDPRT
